body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Raleway',sans-serif;
}
.mainLogo{
    margin: 15px 30px 14px 10px;
    font-size: 35px;
    font-weight: 700;
    color: rgb(189, 183, 175);
    opacity: .8;
}
.mainLogo:hover{
    color: #c821ff;
    text-decoration: none;
    transition: all .35s ease-out;
}
a{
    text-decoration: none;
    color: inherit;
}
.nav-list{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.nav-list li {
    margin: 6px 80px 0 0;
    color: #888;
    font-size: 16px;
}
.nav-list-link{
    position: relative;
}
.nav-list-link:hover::after{
    transform: scaleX(1);
}
.nav-list-link:hover{
    color: #ffffff;
}
.nav-list-link::after {
    content: "";
    background: #c821ff;
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: -8px;
    left: 0;
    transform: scaleX(0);
    transition: all .25s ease;
 }
 .active {
    position: relative;
    color: white;
  }
 .active::before {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #00eeff;
  }
.header{
    display: flex;
    background-color:rgb(24, 26, 27);
}
.dropdown {
    position: relative;
  }
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(24, 26, 27);
    min-width: 100%;
    margin-top: 7px;
    padding: 15px;
    z-index: 1;
  }
.dropdown:hover .dropdown-content {
    display: block;
  }
.dropdown-content a {
    display: block;
    text-align: center;
    padding: 10px 0;
    color: #888;
    font-size: 16px;
    position: relative;
  }
.menu-link::after {
    content: "";
    background: #c821ff;
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: -1px;
    left: 0;
    transform: scaleX(0);
    transition: all .25s ease;
  }
.menu-link:hover::after {
    transform: scaleX(1);
  }
.dropdown-content a:hover {
    color: #ffffff;
  }
.main {
    height: 650px;
    background: url(/Images/main-wallpaper.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    margin: 0;
}
.main-block {
    width: 400px;
    height: 300px;
    color: #ffffff;
    background-color: black;
    border-radius: 40px;
    opacity: 1;
    padding: 40px 30px 0 40px;
}
.main-block.animate__backInLeft {
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
  
.main-block.animate__backInLeft.animated {
    opacity: 0.75 !important;
}
.wereTeam {
    height: 600px;
    background: url(/Images/);
    background-size: cover;
    display: flex;
    justify-content: center;
}
.team{
    position: absolute;
    margin: 80px;
    color: #ffffff;
}
.creators img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
.creator-img:nth-child(1){
    margin: 0 15px 0 0;
}
.creators{
    display: flex;
    justify-content: center;
    align-items: center;
}
.creator-img,
.helper-img {
    text-align: center;
}
.img-container {
    position: relative;
    text-align: center;
}
.creator-p,
.helper-p {
    color: #c821ff;
    border: 2px white solid;
    border-radius: 20px;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.creators img:hover{
    opacity: 0.3;
    transition: all .25s ease;
}
.creators .img-container:hover .creator-p,
.creators .img-container:hover .helper-p {
    display: block;
}
.footer{
    color: rgb(232, 230, 227);
    font-size: 12px;
    text-align: center;
    height: 70px;
    background-color: black;
}
.footer p{
    margin: 11px 0 0 0;
}
.links{
    display: flex;
    column-gap: 0.75rem;
    justify-content: center;
    flex-wrap: wrap;
}
.footer a:hover{
    text-decoration: underline;
}
.footer:hover{
    color: #c821ff;
}
.wereTeam {
    background-image: url(/Images/fouter-img.png);
}
.contact-main {
    background-image: url(/Images/contact-main.jpg);
    background-size: cover;
    display: block;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: -999;
    height: 100vh;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.contact-info {
    width: 400px;
    height: 300px;
    color: #ffffff;
    background-color: black;
    border-radius: 40px;
    opacity: 1;
    padding: 40px 30px 0 40px;
    text-align: center;
    opacity: 0.8;
}
.info-logo {
    width: 30px;
    height: 30px;
    padding: 0 20px 0 0;
}
.contact-footer {
    color: rgb(232, 230, 227);
    font-size: 12px;
    text-align: center;
    height: 70px;
    background-color: black;
    position: relative;
    bottom: 0;
    width: 100%;
}
.contact-footer p{
    margin: 11px 0 0 0;
}
.contact-links{
    display: flex;
    column-gap: 0.75rem;
    justify-content: center;
    flex-wrap: wrap;
}
.contact-footer a:hover{
    text-decoration: underline;
}
.contact-footer:hover{
    color: #c821ff;
}
.rules-main {
    background-image: url(/Images/rules-img.png);
    background-size: cover;
    display: block;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: -999;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rules-info {
    width: 700px;
    height: 500px;
    color: #ffffff;
    background-color: black;
    border-radius: 40px;
    opacity: 1;
    padding: 40px 30px 0 40px;
    opacity: 0.8;
}
.rules-info h1 {
    text-align: center;
    font-size: 25px;
    padding: 0 0 15px 0;
}
.rules-info p {
    font-size: 12px;
    padding: 0 0 15px 0;
}
.allMods{
    background-image: url(/Images/bedrock.jpg);
    display: flex;
    justify-content: center;
    height: 100%;
}
.container{
    opacity: 0.9;
}
.techno{
    background-color: rgb(18, 26, 246);
    width: 600px;
    height: 250px;
    margin-top: 100px;
    border-radius: 20px;
}
.modsinside{
    display: flex;
    padding: 20px 0 0 20px;
}
.modsinside h1{
    padding: 10px 0 0 13px;
}
.modstext{
    padding: 0 0 0 15px;
}
.modstext p{
    margin: 15px 0 0 0;
}
.online{
    margin: 20px 0 0 15px;
    width: 100px;
}
.online h2{
    padding: 10px 10px 10px 12px;
    border: 2px #21bcff solid;
    background-color: #00eeff;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0;
}
.btn-more {
    float: right;
    margin: 35px 20px 0 0;
}
.btn-more a{
    background-color: #00eeff;
    font-weight: bold;
    padding: 15px 10px 15px 15px;
    border: 2px #21bcff solid;
    color: rgb(3, 4, 0);
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 10px;
    margin: 0;
}
.btn-more a:hover{
    background-color: #00ccff;
    border: 2px #00ccff solid;
    transition: all 0.3s;
}
.magic{
    background-color: rgb(216, 39, 216);
    width: 600px;
    height: 250px;
    margin-top: 60px;
    border-radius: 20px;
}
.technomagic{
    background-color: rgb(90, 0, 128);
    width: 600px;
    height: 250px;
    margin-top: 60px;
    border-radius: 20px;
}
.minigames{
    background-color: rgb(122, 128, 0);
    width: 600px;
    height: 250px;
    margin-top: 60px;
    border-radius: 20px;
}
.botania{
    background-color: rgb(0, 128, 30);
    width: 600px;
    height: 250px;
    margin-top: 60px;
    border-radius: 20px;
}
.pixelmon{
    background-color: rgb(128, 0, 77);
    width: 600px;
    height: 250px;
    margin-top: 60px;
    border-radius: 20px;
}
.spaceX{
    background-color: rgb(176, 214, 9);
    width: 600px;
    height: 250px;
    margin-top: 60px;
    border-radius: 20px;
    margin-bottom: 50px;
}