body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Raleway',sans-serif;
}
.mainLogo{
    margin: 15px 30px 14px 10px;
    font-size: 35px;
    font-weight: 700;
    color: rgb(189, 183, 175);
    opacity: .8;
}
.mainLogo:hover{
    color: #c821ff;
    text-decoration: none;
    transition: all .35s ease-out;
}
a{
    text-decoration: none;
    color: inherit;
}
.headerBurger {
    display: none;
    position: relative;
    margin-right: 30px;
    margin-top: 15px;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
    top: 10px;
    right: 10px;
}
.headerBurger:hover{
    cursor: pointer;
}

.headerBurger span {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #fff;
}
.headerBurger::before,
.headerBurger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transition: all 0.3s ease 0s;
}
.headerBurger::before {
    top: 0;
}
.headerBurger::after{
    bottom: 0;
}
.headerBurger.on span {
    transform: scale(0);
}
.headerBurger.on::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}
.headerBurger.on::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}
.open{
    display: flex !important;
}
.nav-list{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.nav-list li{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nav-list li {
    margin: 6px 80px 0 0;
    color: #888;
    font-size: 16px;
}
.nav-list-link{
    position: relative;
}
.nav-list-link:hover::after{
    transform: scaleX(1);
}
.nav-list-link:hover{
    color: #ffffff;
}
.nav-list-link::after {
    content: "";
    background: #c821ff;
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: -8px;
    left: 0;
    transform: scaleX(0);
    transition: all .25s ease;
 }
 .active {
    position: relative;
    color: white;
  }
 .dropdown .active-dropdown{
    color: white;
 }
 .active-dropdown{
    position: relative;
 }
 .dropdown .active-dropdown::before{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #00eeff;
 }
 .active::before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #00eeff;
  }
.header{
    display: flex;
    background-color:rgb(24, 26, 27);
}
.dropdown {
    position: relative;
  }
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(24, 26, 27);
    min-width: 100%;
    margin-top: 7px;
    padding: 15px;
    z-index: 1;
  }
.dropdown:hover .dropdown-content {
    display: block;
  }
.dropdown-content a {
    display: block;
    text-align: center;
    padding: 10px 0;
    color: #888;
    font-size: 16px;
    position: relative;
  }
.menu-link::after {
    content: "";
    background: #c821ff;
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: -1px;
    left: 0;
    transform: scaleX(0);
    transition: all .25s ease;
  }
.menu-link:hover::after {
    transform: scaleX(1);
  }
.dropdown-content a:hover {
    color: #ffffff;
  }
.main {
    height: 650px;
    background: url(/Images/main-wallpaper.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    margin: 0;
}
.main-block {
    width: 400px;
    height: 300px;
    color: #ffffff;
    background-color: black;
    border-radius: 40px;
    opacity: 1;
    padding: 40px 30px 0 40px;
}
.main-block.animate__backInLeft {
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
  
.main-block.animate__backInLeft.animated {
    opacity: 0.75 !important;
}
.wereTeam {
    height: 600px;
    background: url(/Images/);
    background-size: cover;
    display: flex;
    justify-content: center;
}
.team{
    position: absolute;
    margin: 80px;
    color: #ffffff;
}
.creators img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
.creator-img:nth-child(1){
    margin: 0 15px 0 0;
}
.creators{
    display: flex;
    justify-content: center;
    align-items: center;
}
.creator-img,
.helper-img {
    text-align: center;
}
.img-container {
    position: relative;
    text-align: center;
}
.creator-p,
.helper-p {
    color: #c821ff;
    border: 2px white solid;
    border-radius: 20px;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.creators img:hover{
    opacity: 0.3;
    transition: all .25s ease;
}
.creators .img-container:hover .creator-p,
.creators .img-container:hover .helper-p {
    display: block;
}
.footer{
    color: rgb(232, 230, 227);
    font-size: 12px;
    text-align: center;
    height: 70px;
    background-color: black;
}
.footer p{
    margin: 11px 0 0 0;
}
.links{
    display: flex;
    column-gap: 0.75rem;
    justify-content: center;
    flex-wrap: wrap;
}
.footer a:hover{
    text-decoration: underline;
}
.footer:hover{
    color: #c821ff;
}
.wereTeam {
    background-image: url(/Images/fouter-img.png);
}
.contact-main {
    background-image: url(/Images/contact-main.jpg);
    background-size: cover;
    display: block;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: -999;
    height: 100vh;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.contact-info {
    width: 400px;
    height: 300px;
    color: #ffffff;
    background-color: black;
    border-radius: 40px;
    opacity: 1;
    padding: 40px 30px 0 40px;
    text-align: center;
    opacity: 0.8;
}
.info-logo {
    width: 30px;
    height: 30px;
    padding: 0 20px 0 0;
}
.contact-footer {
    color: rgb(232, 230, 227);
    font-size: 12px;
    text-align: center;
    height: 70px;
    background-color: black;
    position: relative;
    bottom: 0;
    width: 100%;
}
.contact-footer p{
    margin: 11px 0 0 0;
}
.contact-links{
    display: flex;
    column-gap: 0.75rem;
    justify-content: center;
    flex-wrap: wrap;
}
.contact-footer a:hover{
    text-decoration: underline;
}
.contact-footer:hover{
    color: #c821ff;
}
.rules-main {
    background-image: url(/Images/rules-img.png);
    background-size: cover;
    display: block;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: -999;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rules-info {
    width: 700px;
    height: 500px;
    color: #ffffff;
    background-color: black;
    border-radius: 40px;
    opacity: 1;
    padding: 40px 30px 0 40px;
    opacity: 0.8;
}
.rules-info h1 {
    text-align: center;
    font-size: 25px;
    padding: 0 0 15px 0;
}
.rules-info p {
    font-size: 12px;
    padding: 0 0 15px 0;
}
.allMods{
    background-image: url(/Images/allMod-wallpaper.jpg);
    background-size: cover; 
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    height: 100%;
}
.container{
    opacity: 0.9;
}
.techno{
    background-color: rgb(18, 26, 246);
    width: 600px;
    height: 250px;
    margin-top: 100px;
    border-radius: 20px;
}
.modsinside{
    display: flex;
    padding: 20px 0 0 20px;
}
.modsinside h1{
    padding: 10px 0 0 13px;
}
.modstext{
    padding: 0 0 0 15px;
}
.modstext p{
    margin: 15px 0 0 0;
}
.online{
    margin: 20px 0 0 15px;
    width: 100px;
}
.online h2{
    padding: 10px 10px 10px 12px;
    border: 2px #21bcff solid;
    background-color: #00eeff;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0;
}
.btn-more {
    float: right;
    margin: 35px 20px 0 0;
}
.btn-more a{
    background-color: #00eeff;
    font-weight: bold;
    padding: 15px 10px 15px 15px;
    border: 2px #21bcff solid;
    color: rgb(3, 4, 0);
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 10px;
    margin: 0;
}
.btn-more a:hover{
    background-color: #00ccff;
    border: 2px #00ccff solid;
    transition: all 0.3s;
}
.magic{
    background-color: rgb(216, 39, 216);
    width: 600px;
    height: 250px;
    margin-top: 60px;
    border-radius: 20px;
}
.technomagic{
    background-color: rgb(90, 0, 128);
    width: 600px;
    height: 250px;
    margin-top: 60px;
    border-radius: 20px;
}
.minigames{
    background-color: rgb(122, 128, 0);
    width: 600px;
    height: 250px;
    margin-top: 60px;
    border-radius: 20px;
}
.botania{
    background-color: rgb(0, 128, 30);
    width: 600px;
    height: 250px;
    margin-top: 60px;
    border-radius: 20px;
}
.pixelmon{
    background-color: rgb(128, 0, 77);
    width: 600px;
    height: 250px;
    margin-top: 60px;
    border-radius: 20px;
}
.spaceX{
    background-color: rgb(176, 214, 9);
    width: 600px;
    height: 250px;
    margin-top: 60px;
    border-radius: 20px;
    margin-bottom: 50px;
}
.mods-main {
    background-image: url(/Images/techno-background.png);
    background-size: cover; 
    background-attachment: fixed; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.mods-container {
    padding-bottom: 50px;
    height: 100%;
    width: 700px;
    background-color: rgb(130, 222, 238);
    display: flex;
    flex-direction: column;
}
.img-techno img {
    display: block;
    margin: 0 auto;
}
.info-techno{
    border: 2px #c821ff solid;
    border-radius: 10px;
    background-color: #c721ff66;
    line-height: 30px;
    padding: 15px;
    margin: 15px 20px 0 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.info-table{
    margin-left: 17px;
    padding-top: 30px;
    width: 95%;
    border-spacing: 0 1px;
}
.info-table th{
    padding-left: 10px;
    padding-bottom: 4px;
    font-size: 15px;
    text-align: center;
    border-bottom: 3px solid #c821ff;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
}
.info-table td{
    padding: 10px;
    font-size: 18px;
    border-bottom: 0 solid #f0f0f0;
    background-color: hsla(0,0%,97.6%,.47);
    border-color: #eaeaea;
    border-spacing: 0 1px;
}
.pvp-on{
    display: inline-block;
    padding: 0 7px;
    font-size: 15px;
    line-height: 18px!important;
    height: 18px;
    background: #30b201;
    font-weight: 400;
    color: #fff;
    border-radius: 9px;
    text-transform: uppercase;
}
.online-table{
    display: inline-block;
    padding: 0 7px;
    font-size: 17px;
    line-height: 18px!important;
    height: 18px;
    background: rgb(18, 155, 3);
    font-weight: 400;
    color: #fff;
    border-radius: 9px;
    text-transform: uppercase;
}
.head{
    margin-bottom: 25px;
    margin-top: 20px;
    font-size: 32px;
    color: #670b85;
    font-size: 25px;
    font-weight: bolder;
    font-family: Ubuntu;
    text-align: center;
    text-transform: uppercase;
}
.mod-icon{
    width: 64px;
    height: 64px;
    float: left;
    margin: 20px;
    display: flex;
    align-items: center;
    padding: 4px;
    margin-left: 20px;
    margin-right: 12px;
}
.mod-name{
    font-size: 19px;
    font-weight: bold;
    color: rgb(104, 0, 100);
    margin-bottom: 10px;
}
.mod-details{
    margin-right: 50px;
}
.mod-desctiption{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.download-launcher{
    color: #ffffffe2;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 4px;
    background-color: #55555595;
    transition: all .25s ease;
    display: flex;
    white-space: nowrap;
}
.download-launcher:hover {
    background-color: #bb23c9;
    color: #fff;
}
.download-main{
    height: 100vh;
    background-image: url(/Images/download-wallpaper.jpg);
    background-size: cover; 
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.download-container{
    width: 400px;
    height: 300px;
    color: #ffffff;
    background-color: black;
    border-radius: 40px;
    opacity: 1;
    padding: 40px 30px 0 40px;
}
.download-container a{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1070px) {
    .headerBurger{
        display: flex;
        margin-left: auto;
    }
    .nav-list {
        border-radius: 10px;
        display: none;
        justify-content: center;
        flex-direction: column;
        margin-left: auto;
        position: absolute;
        height: 300px;
        width: 200px;
        top: 53px;
        bottom: 40px;
        left: 0;
        right: 0;
        z-index: 50;
        background-color: rgb(24, 26, 27);
    }
    .download-launcher{
        margin-left: 15px;
    }
    .nav-list .nav-list-link, .active{
        line-height: 40px;
        padding: 5px;
        margin-left: 15px;
    }
    .nav-list .dropdown-content{
        margin-bottom: 10px;
        margin-left: 15px;
    }
    .dropdown-content a{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .dropdown-content .active{
        color: white;
        width: 200px;
    }
    .nav-list-link::after {
        bottom: 5px;
     }
     .active {
        position: relative;
        color: white;
      }
     .active::before {
        bottom: 3.5px;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        top: 100%;
        border-radius: 10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgb(24, 26, 27);
        margin-top: 1px;
        padding: 15px;
        z-index: 1;
      }
      .creators img{
        width: 200px;
        height: 200px;
        border-radius: 20px;
    }
}
@media (max-width: 803px) {
    .rules-info{
        width: 550px;
        height: 480px;
    }
}
@media (max-width: 760px) {
    .mods-container{
        width: 500px;
    }
    .img-techno img{
        width: 500px;
    }
}
@media (max-width: 635px) {
    .rules-info{
        width: 300px;
        height: 600px;
    }
}
@media (max-width: 620px) {
    .container{
        width: 300px;
    }
    .container p{
        font-size: 19px;
    }
    .allMods{
        display: flex;
        justify-content: none;
        padding-right: 90px;
        height: 100%;
    }
    .techno {
        height: 350px;
        width: 400px;
    }
    .magic{
        height: 330px;
        width: 400px;
    }
    .technomagic{
        height: 330px;
        width: 400px;
    }
    .minigames{
        height: 330px;
        width: 400px;
    }
    .botania{
        height: 310px;
        width: 400px;
    }
    .pixelmon{
        height: 330px;
        width: 400px;
    }
    .spaceX{
        height: 350px;
        width: 400px;
    }
}
@media (max-width: 605px) {
    .download-launcher{
        margin-left: 15px;
    }
}
@media (max-width: 550px) {
    .mods-container{
        width: 350px;
    }
    .img-techno img{
        width: 350px;
    }
    .mod-desctiption{
        font-size: 12px;
    }
    .info-table{
        padding-right: 15px;
    }
    .info-table td{
        font-size: 14px;
    }
    .head{
        font-size: 20px;
    }
}
@media (max-width: 440px) {
    .container p{
        font-size: 19px;
    }
    .allMods{
        display: flex;
        padding-left: 35px;
        height: 100%;
    }
    .techno {
        height: 360px;
        width: 350px;
    }
    .magic{
        height: 340px;
        width: 350px;
    }
    .technomagic{
        height: 340px;
        width: 350px;
    }
    .minigames{
        height: 330px;
        width: 350px;
    }
    .botania{
        height: 340px;
        width: 350px;
    }
    .pixelmon{
        height: 340px;
        width: 350px;
    }
    .spaceX{
        height: 355px;
        width: 350px;
    }
    .main-block{
       height: 330px;
    }
}
@media (max-width: 480px) {
    .dropdown-content .active{
        width: 104px;
    }
    .dropdown-content{
        width: 30px;
    }
    .download-launcher{
        margin-left: 15px;
    }
}
@media (max-width: 400px) {
    .dropdown-content a{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .dropdown-content .active{
        color: white;
        width: 80px;
    }
    .creators img{
        width: 170px;
        height: 170px;
    }
}
@media (max-width: 310px){
   .contact-info{
       height: 350px;
    }   
}